body {
    font-family: Helvetica;
    overflow-x: hidden;
}


/* Navbar Start */

.bg-all {
    background-color: #F1F3FF;
}

.bg-btn {
    background-color: #5CB85F;
    color: white;
}

.navbar-loc {
    margin: 0% 6%;
}

.brand {
    background-color: #0D28A6;
    width: 100px;
    height: 34px;
    margin-left: 6%;
}

.off-navbar {
    width: 50%;
}

.tittle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 25%;
}

.content {
    font-size: 14px;
    padding-right: 80px;
}


/* Navbar End */


/*=========================================================*/


/* Header Start */

.grid-left {
    padding-top: 5%;
    padding-left: 12%;
}

.grid-right {
    padding-left: 3.5%;
}

.car-img {
    max-width: 100%;
}


/* Header End */


/*=========================================================*/


/* Our Service Start */

.grid-service {
    margin-top: 6%;
}

.size-service {
    width: 459px;
    height: 428px;
}

.grid-best {
    padding-left: 10%;
}

.icon-tick {
    color: #1434d4;
    font-size: 20px;
    background-color: #CFD4ED;
    width: 30px;
    height: 30px;
}


/* Our Service End */


/*=========================================================*/


/* Why Us Start */

.grid-whyus {
    margin-top: 100px;
}

.icon-promotion {
    height: 100%;
}

.why-us {
    padding-top: 100px;
}

.why-text p {
    font-size: 14px;
}

.why-text .card {
    border-radius: 8px;
}

.height-card {
    height: auto;
}


/* Why Us End */


/*=========================================================*/


/* Testimonial */

.card-testi {
    width: 619px;
    height: 270px;
}

.item {
    width: 100%;
    background-color: rgba(241, 243, 255, 1);
}

.card-left {
    width: 30%;
    height: 30%;
    margin: 50px 10px;
}

.card-right {
    text-align: justify;
    font-size: 12px;
    padding: 50px 30px 0 20px;
}

.card-right i {
    color: gold;
    padding-bottom: 10px;
}

.Testimonial-tittle {
    text-align: center;
    padding-top: 100px;
}

.owl-carousel .card-body {
    display: flex;
}


/*=========================================================*/


/* Sewa mobil dilokasimu */

.grid-rentcar {
    background-color: #0D28A6;
    border-radius: 13px;
    text-align: center;
}


/* Sewa mobil dilokasimu end*/


/*=========================================================*/


/* FAQ */

.display-accor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* FAQ End */


/*=========================================================*/


/*---MEDIA QUERY--*/


/*=========================================================*/


/*Bagian Mobile */

@media only screen and (min-width: 120px) and (max-width: 767px) {
    /*==Our service img==*/
    .Our-service-img {
        width: 90%;
        height: 90%;
    }
    /*==Why Us==*/
    .grid-service1 {
        margin-top: 8%;
    }
    .Whyus {
        text-align: center;
    }
    /*==Testimoni==*/
    .img-pos {
        margin-top: 0;
    }
    .size-carosel {
        height: max-content;
    }
    .size-card {
        margin-top: 5%;
    }
    .display-none {
        display: none;
    }
    .center-icon {
        align-items: center;
    }
    .center-img {
        margin-left: 25%;
        margin-right: 25%;
    }
    .reset-img {
        display: flex;
        justify-content: center;
    }
    .pos-card {
        margin-left: 8%;
        margin-right: 8%;
    }
    .icon-pos {
        padding-top: 5%;
    }
    .owl-carousel .card-body {
        display: block;
    }
    .card-right {
        padding: 0;
    }
    .card-left {
        width: 25%;
        height: 25%;
        margin: 0;
        margin-left: 37%;
    }
    /*==Sewa Mobil==*/
    .grid-rentcar {
        text-align: center;
    }
    /*==FAQ==*/
    .faq {
        text-align: center;
    }
    /*==Footer==*/
    .footer {
        padding-left: 1%;
    }
}


/*=========================================================*/


/*---TABLET*---/
/*=========================================================*/


/*Bagian Tablet*/

@media only screen and (min-width: 768px) and (max-width: 900px) {
    /*==Car==*/
    .tulisan-car {
        position: relative;
        padding-left: 3%;
    }
    .car-img {
        position: relative;
        width: 110%;
        height: 95%
    }
    /*==Our service img==*/
    .Our-service-img {
        width: 70%;
        height: 88%;
    }
    /*==Why Us==*/
    .grid-service1 {
        margin-top: 5%;
    }
    .Whyus {
        text-align: center;
    }
    /*==Testimoni==*/
    .img-pos {
        margin-top: 0;
    }
    .size-carosel {
        height: max-content;
    }
    .size-card {
        margin-top: 5%;
    }
    .display-none {
        display: none;
    }
    .center-icon {
        align-items: center;
    }
    .center-img {
        margin-left: 25%;
        margin-right: 25%;
    }
    .reset-img {
        display: flex;
        justify-content: center;
    }
    .pos-card {
        margin-left: 8%;
        margin-right: 8%;
    }
    .icon-pos {
        padding-top: 5%;
        font-size: 14px;
    }
    .owl-carousel .card-body {
        display: block;
    }
    .card-right {
        padding: 0;
    }
    .card-left {
        margin-top: 2%;
        width: 25%;
        height: 25%;
        margin: 0;
        margin-left: 37%;
    }
    /*==FAQ==*/
    .faq {
        text-align: center;
    }
    /*==Footer==*/
    .footer {
        padding-left: 1%;
    }
}